#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;	 
}
body{

}
h1{
	font-family: 'Open Sans', cursive;
	color: #0994DB;
	margin-left: 10px;
	font-size: 20px;
	text-align: left;
}
h2{
	font-family: 'Shadows Into Light', cursive;
	color: #34287F;
	margin-left: 10px;
	font-size: 20px;
	text-align: left;
}
h3{
	font-family: 'Open Sans';
	color: black;
	text-align: center;
	font-size: 20px;
	line-height: 1px;
	
}

section{
	width: 700px;
	height: 1100px;
	float: left;
	margin-top: 20px;
	background-color: rgba(0, 0, 255, 0.1);
	margin-bottom: 50px;
}

hr {
	border: 1px dashed gray; 
	height:0;
	width: 80%;
}
aside{
	width: 280px;
	height: 680px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	background-color: rgba(255, 255, 94, 0.4);
}
IMG.imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:none;
}

a{
	text-decoration: none;
}


ul{
	list-style: none;
	width: 600px;
	margin:auto;
	margin-top: 10px;
	margin-left: 240px;
	padding: 0px;
}

ul li{
	width: 80px;
	height: 20px;
	padding: 3px;
	border: 1px solid #34287F;
	float: left;
	text-align: center;
	font-weight: bolder;

}

ul li ul li{
	width: 150px;
	float: left;
	clear: both;
}

ul li ul{
	display: none;
}

ul li:hover ul{
	display: block;
}
footer{
    width: 1000px;
    height: 80px;
    float: left;
    margin-top: 830px;
    background: #ADD8E6;
    margin-bottom: 20px;
}
p{
	font-size: 15px;
	font-weight: bolder;
	line-height: 24px;
	padding: 15px;
	text-align: justify;
}

 